<mat-card><p>CLASS - LIST </p>
<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"/>
 
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="retrieveTutorials(id)">
          Search
        </button>
     
    </div>
  </div>

  <div class="col-md-8">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      responsive="true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
  </div>

  <div class="col-md-6">
   

    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="
          let tutorial of tutorials | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTutorial(tutorial, i)"
      >
        {{ tutorial.title }} 
       
        <ul>
        <a [routerLink]="['/tutorials/:id',tutorial.id]"></a>
      </ul>
      </li>
    </ul>
  </div>


  <div class="mt-3">

    Items per Page:
    <select (change)="handlePageSizeChange($event)">
      <option *ngFor="let size of pageSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>

    <button class="m-3 btn btn-sm btn-primary" [routerLink]="['/addclass/',id]">
      Add Class
    </button>



<button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">
  Remove All
</button>
</div>
</div>
<div class="col-md-6">
<div *ngIf="currentTutorial">
  <h4>Class</h4>
  <div>
    <label><strong>Title:</strong></label> {{ currentTutorial.title }}
  </div>
  <div>
    <label><strong>Description:</strong></label>
    {{ currentTutorial.description }}
  </div>
  <div>
    <label><strong>Note:</strong></label>
    {{ currentTutorial.note }}
  </div>
  <div>
    <label><strong>Status:</strong></label>
    {{ currentTutorial.published ? "Published" : "Pending" }}
  </div>
  <!-- routerLink="/tutorials/{{currentTutorial.id}}"-->
  <a class="badge badge-warning"     routerLink="/editclass/{{currentTutorial.id}} ">
    <button>Edit</button>

  </a>
</div>

<div *ngIf="!currentTutorial">
  <br />
  <p>Please click on a Class ...</p>
</div>
</div>


</mat-card>