a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover, a:active{
    color: rgb(47, 44, 59);
}
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
mat-toolbar{
    border-radius: 3px;
}
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}