:host{
    display: block;
    margin-top:1rem;
    }

    .info-text{
        text-align: center;
        }

        main {
            width: 80%;
            margin: 1rem auto;
            background-color: blanchedalmond;
            }