
<main>
<mat-grid-list cols="2" rowHeight="1:1">
  
        <mat-grid-tile><mat-grid-tile-header> Course List </mat-grid-tile-header><app-list-course></app-list-course></mat-grid-tile>

        <mat-grid-tile><mat-grid-tile-header> Edit</mat-grid-tile-header><router-outlet></router-outlet></mat-grid-tile>

        <mat-grid-tile><mat-grid-tile-header> Student List</mat-grid-tile-header><app-student-list></app-student-list></mat-grid-tile>
      
     
<!--    <mat-grid-tile><mat-grid-tile-header> CSV upload</mat-grid-tile-header><app-uploadfiles></app-uploadfiles></mat-grid-tile>-->      
    </mat-grid-list>
</main>
